---
default_language_version:
  python: python3

ci:
  autofix_commit_msg: |
    chore: autofix via pre-commit hooks

    for more information, see https://pre-commit.ci
  autoupdate_commit_msg: |
    chore: autoupdate pre-commit hooks

    for more information, see https://pre-commit.ci

default_stages: [pre-commit]
repos:
  # maintenance
  - repo: https://github.com/pre-commit/sync-pre-commit-deps
    rev: v0.0.3
    hooks:
      - id: sync-pre-commit-deps

  # security (fail fast)
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        fail_fast: true
  - repo: https://github.com/thoughtworks/talisman
    rev: v1.37.0
    hooks:
      - id: talisman-push # pre-push
        fail_fast: true
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-private-key
        fail_fast: true

  # git commit policy
  - repo: https://github.com/michen00/custom-commit-hooks
    rev: v0.0.4
    hooks:
      - id: enhance-scope # commit-msg
      - id: conventional-merge-commit # prepare-commit-msg
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  # hygiene (cheap, non-formatting)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: mixed-line-ending

  # formatting before linting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.0
    hooks:
      - id: prettier
        types_or: [css, html, javascript, json, scss, yaml]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-check
        types_or: [jupyter, pyi, python, toml]
        args: [--fix, --show-fixes]
      - id: ruff-format
        types_or: [jupyter, pyi, python, toml]
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        args: [--fix]

  # linting
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-log-warn
      - id: python-use-type-annotations
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-ast
      - id: debug-statements
      - id: name-tests-test
        args: [--pytest-test-first]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [--strict]
  - repo: https://github.com/adhtruong/mirrors-typos
    rev: v1.42.0
    hooks:
      - id: typos
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--skip, '*.ipynb']
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint

  # static type analysis
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args: ['--config-file=pyproject.toml', '--install-types', '--non-interactive']
        additional_dependencies:
          - nox[uv]
          - pydantic[mypy]
          - pytest
          - types-pyyaml
          - typer
        stages: [pre-push]

  # configuration validation
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        additional_dependencies: ['validate-pyproject-schema-store[all]']
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
