---
extends: default

yaml-files:
  - .yamllint
  - '*.yaml'
  - '*.yml'

rules:
  comments:
    min-spaces-from-content: 1
  line-length:
    ignore: |
      .github/workflows/greet-new-contributors.yml
      .github/workflows/pre-commit-autoupdate.yml
    max: 100
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  truthy:
    check-keys: false
