---
name: Changelog autoupdate
on:
  # schedule:
  #   - cron: '0 0 * * 1' # Run every Monday at 00:00
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  id-token: write

env:
  BRANCH_NAME: chore/changelog-autoupdate

jobs:
  changelog-autoupdate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Full history needed for git cliff
      - name: Install git-cliff
        uses: taiki-e/install-action@v2
        with:
          tool: git-cliff
      - name: Update Unreleased section
        run: scripts/update-unreleased.sh
      - name: Format CHANGELOG.md
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          config: .markdownlint.yml
          globs: |
            CHANGELOG.md
      - name: Push changes and create PR
        uses: peter-evans/create-pull-request@v8
        with:
          branch: '${{ env.BRANCH_NAME }}'
          sign-commits: true
          title: 'docs(CHANGELOG.md): autoupdate Unreleased section'
          body: |
            This PR updates the Unreleased section of CHANGELOG.md with recent commits.

            Generated by [git-cliff](https://git-cliff.org/).
          commit-message: 'docs(CHANGELOG.md): autoupdate Unreleased section'
          delete-branch: true
          base: main
