---
name: Dependabot auto-merge
on:
  pull_request:
    types: [opened, reopened, synchronize]

# A ruleset that requires status checks to pass must be configured for the repository.

permissions:
  contents: write
  packages: read
  pull-requests: write

jobs:
  dependabot-automerge:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Approve a PR if not already approved
        run: |
          PR_NUMBER="${{ github.event.pull_request.number }}"
          if [ "$(gh pr view "$PR_NUMBER" --json reviewDecision -q .reviewDecision)" != "APPROVED" ]; then
            gh pr review --approve "$PR_NUMBER"
          else
            echo "PR already approved."
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Enable auto-merge for patch/minor updates
        if: |
          steps.metadata.outputs.update-type == 'version-update:semver-patch' ||
          steps.metadata.outputs.update-type == 'version-update:semver-minor'
        run: gh pr merge --auto --squash "${{ github.event.pull_request.number }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
