---
name: lint GitHub Actions workflows
on:
  pull_request:
    branches: [main]
    paths: [".github/workflows/**"]
  push:
    branches: [main]
    paths: [".github/workflows/**"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check workflow files
        uses: docker://rhysd/actionlint:latest
        with:
          args: -color
