name: Lint GitHub Actions workflows
permissions:
  contents: read
on:
  pull_request:
    paths:
      - ".github/workflows/**"

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Check workflow files
        uses: docker://rhysd/actionlint:latest
        with:
          args: -color
